Source: meta-enterprise
Maintainer: Coral <coral-support@google.com>
Build-Depends: debhelper (>=10)
Section: metapackages
Priority: optional
Standards-Version: 3.9.8

Package: enterprise-core
Priority: optional
Depends: bluetooth,
         bluez,
         edgetpudemo,
         imx-board-audio,
         imx-board-tools,
         imx-board-wlan,
         imx-firmware,
         imx-gpu-viv,
         imx-gst1.0-plugin,
         imx-vpu-hantro,
         imx-vpuwrap,
         libbluetooth3,
         libdrm-vivante,
         linux-image-4.14.98-imx,
         mendel-core,
         python3-edgetpuvision,
         uboot-imx,
         ${misc:Depends}
Architecture: any
Description: Metapackage for core Mendel packages for Enterprise
 Includes core dependencies to enable hardware functionality
 in Mendel on the Enterprise device.

Package: enterprise-gui
Priority: optional
Depends: enterprise-core,
         weston-imx,
         ${misc:Depends}
Architecture: any
Description: Metapackage for GUI Mendel packages for Enterprise
 Includes additional dependencies to enable a GUI in Mendel
 on the Enterprise device.
